*{
margin: 0px;
padding: 0px;
}
#navo{
    background-color: rgba(255, 166, 0, 0.685);
}
#aboutinfo{
    display: grid;
    gap: 100px;
}
.imag{
    border-radius: 50%;
}
#cont{
    
    margin: 10px;
    padding: 10px;
}

.rnam{
    color: orange;
    animation: animname 2s infinite;
}

@keyframes animname{
    5%{padding-left: 5px;}
    10%{padding-left: 10px;}
    20%{padding-left: 20px;}
    30%{padding-left: 30px;}
    40%{padding-left: 40px;}
   
}

#cont h1{
font-size: 50px;
}
#cont p{
    font-size: 30px;
    text-align: justify;
    
}
.download{
    color: white;
    background-color: rgba(255, 166, 0, 0.599);
    text-decoration: none ;
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 10px;
    display: inline-block;
}


.bar-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0px;
    margin-bottom: 2rem;
    align-items: center;
    position: relative;
}
.bar-container span{
    font-size: 20px;
    font-weight: 20px;
}
.bar-box{
    width: 100%;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: 0px;

}
.html-bar{
    background-color: orange;
    width: 95%;
}
.css-bar{
    background-color: orange;
    width: 95%;
}

footer{
    background-color: rgba(255, 166, 0, 0.712);
}

.java-bar{
    background-color: orange;
    width: 80%;
}
.react-bar{
    background-color: orange;
    width: 60%;
}

#foot{
    gap: 100px;
}